---
category:
  shop_by_price: true
  products:
    limit: {{theme_settings.product-count}}
---

{{#partial "page"}}

  <section class="product-listing">
    <div class="container">
      <header class="category-header listing-header page-header {{#if category.image}}has-image{{/if}}">
        {{#if category.image}}
          <div class="category-banner-image" style="background-image: url({{getImage category.image 'zoom'}});">
            <div class="category-banner-caption">
              <h1 class="section-title">{{category.name}}</h1>
            </div>
          </div>
        {{else}}
          <h1 class="section-title">{{category.name}}</h1>
        {{/if}}

        {{#if category.description}}
          <div class="listing-description">
            <div class="container container-small">{{{category.description}}}</div>
          </div>
        {{/if}}
      </header>

      {{{snippet 'categories'}}}

      {{#unless theme_settings.collections-sidebar-hidden}}
        <aside class="listing-sidebar" data-category-sidebar>
          {{> components/category/sidebar}}
        </aside>
      {{/unless}}

      {{> components/products/sort sort=pagination.category.sort}}
      {{> components/products/listing-utils}}

      <div class="product-listing-grid grid" data-category data-product-compare>
        {{#if theme_settings.collections-view '===' 'grid'}}
          {{> components/category/product-listing}}
        {{else}}
          {{> components/category/product-listing-list}}
        {{/if}}
      </div>
    </div>
  </section>

{{/partial}}

{{> layout/base}}
