/*! Theme: Merchant v1.19.1 */
.header {
  background-color: stencilColor("color-topbar-background");
}

.header-logo {
  padding: 10px 0;
  text-align: center;

  img {
    max-height: 3.75rem;
  }
}
